*{
	margin:0;
	padding:0;
}
body{
	background-color:#efefef;
	font-family:sans-serif;
	background-image:url("memories.jpg");
	background-position:center;
    background-size:cover;
	height:109vh; 
	background-attachment: fixed;
}
.container
{
	height:520px;
	width:520px;
	background-image:url("memories1.jpg");
	background-position:center;
	background-size:cover;
	top:60%;
	left:50%;
	transform:translate(-50%,-50%);
	position:absolute;
	background-attachment: fixed;
	
}
form{
	margin:35px;
}
.input-field{
	width:400px;
	height:35px;
	margin-top:20px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #777;
	border-radius:14px;
	outline:none;
}
.textarea-field{
	width:400px;
	height:110px;
	margin-top:20px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #777;
	border-radius:14px;
	outline:none;
}
.btn{
	border-radius:5px;
	color:#fff;
	margin-top:18px;
	padding:12px;
	background-color:blue;
	font-size:12px;
	border:none;
	cursor:pointer;
}
.btn:hover{
		background:#47c35a;
		color:#fff;
}
